<div class="botonera">
  <a routerLink="/home">
    <img class="logo" src="assets/images/descarga.svg" alt="Logo Sancor">
  </a>
  <div class="navBar">
    <mat-button-toggle-group aria-label="Font Style">
      <mat-button-toggle *ngFor="let item of itemsMenu" 
        [routerLink]="item.url" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [checked]="router.url == item.url">
        {{ item.name }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button class="logoPerfil" mat-fab color="link"> 
      <span class="material-symbols-outlined perfil">person</span> 
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="divComponents">
  <router-outlet></router-outlet>
</div>

