mat-form-field{
    width: 50vw;
    margin-top: 30px;
    margin-left: 20px;
}

.buscador{
    background: linear-gradient(45deg, var(--azul-global), var(--azul-claro));
    border-radius: 3px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px 10px var(--azul-claro);
}

section{
    position: relative;
    border: 1px var(--azul-global) solid;
    padding: 20px 0;
    border-radius: 3px;
}

h2{
    position: absolute;
    top: -18px;
    left: -2px;
    background-color: var(--azul-global);
    color: aliceblue;
    border-radius: 10px;  
    padding: 5px 15px;
}

.divCard{
    padding: 20px 0;
}

mat-card{
    cursor: pointer;
    transition: 0.2s all;
    width: 90vw;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--azul-claro);
    margin-top: 14px;
    padding: 5px;
}

mat-card:hover{
    background: linear-gradient(45deg, var(--azul-global), var(--azul-claro));
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    margin: 0px 3px;
    padding: 3px; 
}

.contentCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-card-content:first-child{
    padding-top: 0;
}

.mat-mdc-card-content:last-child{
    padding-bottom: 0;
} 

.iconChange{
    display: flex;
    align-items: center;
}

.listEmpty{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    background-color: var(--azul-claro);
    padding: 40px;
}

h2{
    position: absolute;
    top: -18px;
    left: -2px;
    background-color: var(--azul-global);
    color: aliceblue;
    border-radius: 10px;
    padding: 5px 15px;
}