<div class="buscador animate__animated animate__fadeIn">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>¿Qué deseas buscar? </mat-label>
        <input matInput #searchTag (input)="searchNovedades()">
    </mat-form-field>
</div>

<app-loader *ngIf="!loader"></app-loader>

<section *ngIf="loader" class="animate__animated animate__fadeIn">
    <h2>Lista de cambios</h2>
    
    <div *ngIf="filteredNovedades.length > 0" class="divCard">
        <mat-card *ngFor="let item of filteredNovedades" (click)="openDialog(item)">
            <div class="contentCard">
                <div class="iconChange">
                    <div class="divFecha">
                        <div>{{ item.created_at | date:'MMM' }}</div>
                        <div>{{ item.created_at | date:'dd' }}</div>
                        <div>{{ item.created_at | date: 'yyyy' }}</div>
                    </div>
                </div>
                <div class="infoChange">
                    <mat-card-content>{{ item.descripcion | uppercase }}</mat-card-content>
                    <div class="etiquetas">
                        <button *ngFor="let etiqueta of item.etiquetas" 
                                mat-raised-button
                                [style.background-color]="valoresColores[etiqueta]">
                            {{etiqueta}}
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    
    <div *ngIf="filteredNovedades.length == 0" class="listEmpty">
        <p>No hay novedades con: " <b>{{searchTag.value}}</b> "</p> 
    </div>
</section>