<!-- <pre>
    {{ listNovedades | json }}
</pre> -->

<div class="buscador animate__animated animate__fadeIn">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>¿Qué deseas buscar? </mat-label>
        <input matInput #searchTag (input)="searchNovedades()" [disabled]="searchTags">
    </mat-form-field>

    <mat-chip-option matTooltip="Buscá por etiquetas." (click)="openTags()" class="btnTags"><span class="material-symbols-outlined">style</span></mat-chip-option>
    
    <form *ngIf="searchTags">
        <mat-form-field class="example-chip-list">
          <mat-label>Buscar por Etiquetas</mat-label>
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
              {{ tag }}
              <button class="delete" matChipRemove [attr.aria-label]="'remove ' + tag"> 
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Nueva etiqueta..." #tagInput [formControl]="tagCtrl"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
   
</div>

<app-loader *ngIf="!loader"></app-loader>

<section *ngIf="loader" class="animate__animated animate__fadeIn">
    <h2>Lista de cambios</h2>
    
    <div *ngFor="let mes of sorted | paginate: { itemsPerPage: 3, currentPage: page }" class="divCard">
        <h3>{{ mes.split('-')[0] | uppercase }} - {{ mes.split('-')[1] }}</h3>
        <mat-card *ngFor="let item of filteredNovedades[mes]" (click)="openDialog(item)">
            <div class="contentCard">
                <div class="iconChange">
                    <div class="divFecha">
                        <div>{{ item.created_at | date:'MMM' }}</div>
                        <div>{{ item.created_at | date:'dd' }}</div>
                        <div>{{ item.created_at | date: 'yyyy' }}</div>
                    </div>
                </div>
                <div class="infoChange">
                    <mat-card-content>{{ item.descripcion | uppercase }}</mat-card-content>
                    <div class="etiquetas">
                        <button *ngFor="let etiqueta of item.etiquetas" 
                                mat-raised-button
                                [style.background-color]="valoresColores[etiqueta]">
                            {{etiqueta}}
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    
    <div *ngIf="isEmpty(filteredNovedades)" class="listEmpty">
        <p>No hay novedades con la búsqueda seleccionada.</p> 
    </div>
</section>

<pagination-controls  class="my-pagination" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>