mat-form-field{
    width: 50vw;
    margin-top: 30px;
    margin-left: 20px;
}

.buscador{
    background: linear-gradient(45deg, var(--azul-global), var(--azul-claro));
    border-radius: 3px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px 10px var(--azul-claro);
}

.etiquetas{
    padding: 10px;
}

.divFecha{
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
    border: 1.5px black solid;
    border-radius: 20px;
    padding: 5px 15px;
}

.divFecha div:nth-child(2){
    font-size: 25px;
    padding: 3px;
}

section{
    position: relative;
    border: 1px var(--azul-global) solid;
    padding: 20px 0;
    border-radius: 3px;
}

h2{
    position: absolute;
    top: -18px;
    left: -2px;
    background-color: var(--azul-global);
    color: aliceblue;
    border-radius: 10px;  
    padding: 5px 15px;
}

h3{
    padding: 15px;
    font-weight: bold;
}

.divCard{
    margin: 20px 0;
}

mat-card{
    cursor: pointer;
    transition: 0.2s all;
    width: 90vw;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--azul-claro);
    margin-top: 14px;
    padding: 5px;
}

mat-card:hover{
    background: linear-gradient(45deg, var(--azul-global), var(--azul-claro));
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    margin: 3px;
    padding: 1px; 
    cursor: none;
}

.contentCard{
    display: flex;
    align-items: center;
}

.iconChange{
    max-width: 10%;
}

.infoChange{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
}

.listEmpty{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    background-color: var(--azul-claro);
    padding: 40px;
}

h2{
    position: absolute;
    top: -18px;
    left: -2px;
    background-color: var(--azul-global);
    color: aliceblue;
    border-radius: 10px;
    padding: 5px 15px;
}