<div class="buscador animate__animated animate__fadeIn">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>¿Qué deseas buscar? </mat-label>
        <input matInput #searchTag (input)="searchNovedades()">
    </mat-form-field>
</div>

<app-loader *ngIf="!loader"></app-loader>

<!-- <pre>
    {{ listNovedades | json }}
</pre> -->

<section *ngIf="loader" class="animate__animated animate__fadeIn">
    <h2>Lista de cambios</h2>
    
    <div *ngFor="let mes of sorted" class="divCard">
        <h3>{{ mes.split('-')[0] | uppercase }} - {{ mes.split('-')[1] }}</h3>
        <mat-card *ngFor="let item of filteredNovedades[mes]" (click)="openDialog(item)">
            <div class="contentCard">
                <div class="iconChange">
                    <div class="divFecha">
                        <div>{{ item.created_at | date:'MMM' }}</div>
                        <div>{{ item.created_at | date:'dd' }}</div>
                        <div>{{ item.created_at | date: 'yyyy' }}</div>
                    </div>
                </div>
                <div class="infoChange">
                    <mat-card-content>{{ item.descripcion | uppercase }}</mat-card-content>
                    <div class="etiquetas">
                        <button *ngFor="let etiqueta of item.etiquetas" 
                                mat-raised-button
                                [style.background-color]="valoresColores[etiqueta]">
                            {{etiqueta}}
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    
    <div *ngIf="isEmpty(filteredNovedades)" class="listEmpty">
        <p>No hay novedades con: " <b>{{searchTag.value}}</b> "</p> 
    </div>
</section>