/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --azul-global: #5d70c5;
    --azul-claro: #d8e9ff;
    --verde-submit: rgb(52, 99, 52);
}
